<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <label for="jahr">Jahr: </label>
  <select id="jahr" formControlName="jahr">
    @for (item of jahre; track $index) {
    <option>{{ item }}</option>
    }
  </select>

  <label for="bruttoMonat">Brutto (monatlich): </label>
  <input id="bruttoMonat" type="number" formControlName="bruttoMonat" />

  <label for="age">Alter: </label>
  <input id="age" type="number" formControlName="age" />

  <label for="zusatzBeitragKv">Zusatzbeitrag KV: </label>
  <input id="zusatzBeitragKv" type="number" formControlName="zusatzBeitragKv" />

  <label for="hasChildren">Kinder: </label>
  <input id="hasChildren" type="checkbox" formControlName="hasChildren" />

  <button type="submit" [disabled]="!fg.valid">Hinzufügen</button>
</form>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Jahr</th>
      <th>Brutto (monatlich)</th>
      <th>Alter</th>
      <th>Zusatzbeitrag</th>
      <th colspan="2">KV-Beitrag</th>
      <th colspan="2">PV-Beitrag</th>
      <th colspan="2">RV-Beitrag</th>
      <th colspan="2">AV-Beitrag</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>AN</th>
      <th>AG</th>
      <th>AN</th>
      <th>AG</th>
      <th>AN</th>
      <th>AG</th>
      <th>AN</th>
      <th>AG</th>
    </tr>
  </thead>
  <tbody>
    @for (item of data; track item.id) {
    <tr>
      <td><button type="button" (click)="onRemove($index)">X</button></td>
      <td>{{ item.jahr }}</td>
      <td>{{ item.bruttoMonat }}&euro;</td>
      <td>{{ item.age }}</td>
      <td>{{ item.zusatzBeitragKv }}&percnt;</td>
      <td>{{ getKv(item) }}&euro;</td>
      <td>{{ getKv(item) }}&euro;</td>
      <td>{{ getPv(item, true) }}&euro;</td>
      <td>{{ getPv(item, false) }}&euro;</td>
      <td>{{ getRv(item) }}&euro;</td>
      <td>{{ getRv(item) }}&euro;</td>
      <td>{{ getAv(item) }}&euro;</td>
      <td>{{ getAv(item) }}&euro;</td>
    </tr>
    }
  </tbody>
</table>